<div class="contents">
  <div class="mt-[72px] md:mt-[89px]"></div>
  {% comment %} Breadcrumbs fallback {% endcomment %}
  {% render 'breadcrumbs', is_alpine_template: true %}

  {% comment %} Article header fallback {% endcomment %}
  <article
    class="content-wrapper mx-auto"
    itemscope=""
    itemtype="http://schema.org/BlogPosting"
    x-data="
      {
        pageData: $store['transition'].pageData
      }
    "
  >
    <header class="mb-7 text-center">
      <div class="mb-4">
        <span x-show="pageData?.show_date" x-text="pageData?.date"></span>
        <template
          x-for="(tag, i) in pageData?.tags"
          :key="i"
        >
          <span
            class="capitalize before:mx-3 before:inline-block before:text-gray-200 before:content-['/']"
            x-text="tag"
          ></span>
        </template>
      </div>

      <h1 class="heading text-4xl text-text-500" itemprop="headline" x-text="pageData?.title"></h1>
    </header>
  </article>
</div>
