{% comment %} Breadcrumbs fallback {% endcomment %}
<div class="mt-[72px] md:mt-[89px]"></div>

<div class="max-md:hidden">
  {% render 'breadcrumbs', is_alpine_template: true %}
</div>

<article
  aria-label="{{ 'templates.search.search_details' | t }}"
  class="content-wrapper mx-auto flex flex-col items-start gap-3 py-5 pb-6 pt-3"
>
  <div class="flex w-full items-end justify-between">
    <div class="flex flex-col gap-3">
      <h2
        class="heading text-lg"
        x-html="'{{ 'templates.search.search_results_title' | t: searchQuery: 'XXX' | escape }}'.replace('XXX', $store['transition'].pageData?.search)"
      ></h2>
      <p class="">
        {{ 'templates.search.search_results_subtitle' | t }}
      </p>
    </div>
    <div class="button button--filled-primary invisible max-md:hidden"></div>
  </div>
  <div class="min-h-screen"></div>
</article>
