{% unless section.blocks == empty %}
  {% liquid
    assign top_padding = section.settings.padding_top | round: 0
    assign bottom_padding = section.settings.padding_bottom | round: 0
    assign slides_count = section.blocks | size
  %}
  {%- capture slides_amount_in_view -%}
    {% render '_slider-amount-in-view',
      xs: 2.2,
      sm: 2.5,
      md: 3,
      lg: 4,
      xl: 5,
      xxl: 5,
      is_stretch_full_width: section.settings.stretch_full_width,
      slides_count: slides_count
    %}
  {%- endcapture -%}

  {%- capture slides -%}
    {% for block in section.blocks %}
      {% assign card_collection = collections[block.settings.collection] %}
      {%- capture slideContent -%}
        {% render 'card-collection', card_collection: card_collection, lazy_load: true, index: forloop.index0 %}
      {%- endcapture -%}

      {%- render 'slider-slide', content: slideContent -%}
    {%- endfor -%}
  {%- endcapture -%}

  {%- assign title = section.settings.title | escape -%}

  <div
    class="{% if section.settings.custom_color_scheme %}color-{{ section.settings.color_scheme }} bg-bg-500{% endif %}"
    style="padding-top: {{ top_padding }}px; padding-bottom: {{ bottom_padding }}px"
  >
    {%- render 'slider',
      slides: slides,
      gap: 16,
      slides_amount_in_view: slides_amount_in_view,
      title: title,
      is_full_page: true
    -%}
  </div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "checkbox",
      "id": "stretch_full_width",
      "default": false,
      "label": "t:settings_schema.global.settings.stretch_full_width.label",
      "info": "t:settings_schema.global.settings.stretch_full_width.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header"
    },
    {
      "type": "checkbox",
      "id": "custom_color_scheme",
      "default": false,
      "label": "t:sections.all.custom_color_scheme.label",
      "info": "t:sections.all.custom_color_scheme.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
