{% liquid
  assign top_padding = section.settings.padding_top | round: 0
  assign bottom_padding = section.settings.padding_bottom | round: 0
  assign slides_count = section.settings.collection.products | size
  if section.settings.products_to_show < slides_count
    assign slides_count = section.settings.products_to_show
  endif
%}
{%- capture slides_amount_in_view -%}
  {% render '_slider-amount-in-view',
    xs: 2.2,
    sm: 2.5,
    md: 3,
    lg: 4,
    xl: 5,
    xxl: 5,
    is_stretch_full_width: section.settings.stretch_full_width,
    slides_count: slides_count
  %}
{%- endcapture -%}

{%- capture slides -%}
  {% if section.settings.collection != blank %}
    {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
      {%- capture slideContent -%}
        {%- render 'card-product',
          card_product: product,
          show_vendor: true,
          badge_position_override: 'top right'
        -%}
      {%- endcapture -%}

      {%- render 'slider-slide', content: slideContent -%}
    {%- endfor -%}
  {% else %}
    {%- for i in (1..6) -%}
      {%- capture slideContent -%}
        {%- render 'card-product',
          example_product: true,
          index: i
        -%}
      {%- endcapture -%}

      {%- render 'slider-slide', content: slideContent -%}
    {%- endfor -%}
  {% endif %}
{%- endcapture -%}

{%- assign title = section.settings.title | escape -%}

<div
  class="{% if section.settings.custom_color_scheme %}color-{{ section.settings.color_scheme }} bg-bg-500{% endif %}"
  style="padding-top: {{ top_padding }}px; padding-bottom: {{ bottom_padding }}px"
>
  {%- render 'slider',
    slides: slides,
    gap: 16,
    slides_amount_in_view: slides_amount_in_view,
    title: title,
    is_full_page: true
  -%}

  {% if section.settings.show_view_all
    and section.settings.products_to_show < section.settings.collection.products_count
  %}
    <div class="mt-5 text-center">
      <a
        {%- render '_link-attributes', is_collection: true, collection: section.settings.collection -%}
        class="button button--filled-primary"
      >
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 5,
      "max": 20,
      "step": 1,
      "default": 5,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "stretch_full_width",
      "default": false,
      "label": "t:settings_schema.global.settings.stretch_full_width.label",
      "info": "t:settings_schema.global.settings.stretch_full_width.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.header"
    },
    {
      "type": "checkbox",
      "id": "custom_color_scheme",
      "default": false,
      "label": "t:sections.all.custom_color_scheme.label",
      "info": "t:sections.all.custom_color_scheme.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
